<%= render 'partials/banner' %>

<div class="container mt-5 mb-5 d-flex justify-content-between">
  <h3>My Lists</h3>
  <%= link_to 'Create a movie list', new_list_path, class:'btn-flat' %>
</div>

<div class='container mt-5 mb-5'>
  <div class='row'>
    <% @lists.each do |list| %>
      <div class='col-md-4 col-sm-6' >
        <div class="card shadow h-100">
          <% if list.image_url == nil%>
            <%= image_tag ('card_bg.jpg'), style:"height:100%" %>
          <% else %>
            <%= image_tag (list.image_url), style:"height:100%" %>
          <% end %>
          <div class="card-img-overlay">
            <h4 class="card-title"><%= link_to list.name,
            list_path(list), class: 'card-link' %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
