<%= render 'shared/banner' %>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">MY LISTS</h3>
    <%= link_to 'CREATE A MOVIE LIST', new_list_path, class:'btn-flat' %>
  </div>
</div>

<div class="container">
  <div class="cards-grid">
    <% @lists.each do |list| %>
      <div class="movie-card">
        <% if list.photo.attached? %>
          <div class='movie-card-image'
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url('<%= cl_image_path list.photo.key, width: 400, height: 300, crop: :fill %>')">
          </div>
        <% else %>
          <div class='movie-card-image'
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url('<%= asset_path ('card_bg.jpg') %>')" >
          </div>
        <% end %>
        <div>
          <%= link_to list.name, list_path(list), class:'movie-card-link'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
