<%= render 'shared/banner' %>

<div class="container mt-5 mb-5 d-flex justify-content-between">
  <h3>MY LISTS</h3>
  <%= link_to 'CREATE A MOVIE LIST', new_list_path, class:'btn-flat' %>
</div>

<div class="container">
  <div class="cards-grid">
    <% @lists.each do |list| %>
      <div class="card">
        <% if list.image_url%>
          <%= image_tag (list.image_url) %>
        <% else %>
          <%= image_tag ('card_bg.jpg') %>
        <% end %>
        <h4 class="card-title"><%= link_to list.name,
        list_path(list), class: 'card-link'%></h4>
      </div>
    <% end %>
  </div>
</div>
