<%= render 'shared/banner' %>

<div class="container mt-5 mb-5 d-flex justify-content-between">
  <h3>MY LISTS</h3>
  <%= link_to 'CREATE A MOVIE LIST', new_list_path, class:'btn-flat' %>
</div>

<div class="container">
  <div class="movie-cards">
    <% @lists.each do |list| %>
      <div class="movie-card">
        <% if list.image_url%>
          <%= image_tag (list.image_url), class: 'movie-card-image' %>
        <% else %>
          <%= image_tag ('card_bg.jpg'), class: 'movie-card-image' %>
        <% end %>
        <h4><%= link_to list.name,
        list_path(list), class:'movie-card-link'%></h4>
      </div>
    <% end %>
  </div>
</div>
